# Kernel configuration changes from Variscite imx8_var_defconfig to HMX

# System
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=4
CONFIG_PPP=m
CONFIG_PPP_ASYNC=m

# Hardware Drivers
CONFIG_CAN_M_CAN=m
CONFIG_CAN_M_CAN_TCAN4X5X=m
CONFIG_LEDS_KTD202X=m
CONFIG_POWER_RESET_GPIO=y
CONFIG_RTC_DRV_PCF85063=m
CONFIG_SENSORS_TMP103=m
CONFIG_TCAN114X=m

CONFIG_MARVELL_88Q2XXX_PHY=m
