[Unit]
Description=Run autostart scripts
After=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart = /opt/hm/autostart.sh

[Install]
WantedBy=multi-user.target
