[Unit]
Description=Legacy Network Names Service
After=network-pre.target

[Service]
ExecStart=/opt/hm/hm-stable-names.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=network-pre.target

